<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Available Books</title>
</head>
<body>
    <header th:replace="~{HeaderAndFooter::Header}">
        <h1>some text</h1>
    </header>

    <main>
        <table th:if="${books !=null}">
            <tr th:each="book : ${books}">
                <td th:text="${book.bookISBN}">ISBN</td>
                <td th:text="${book.bookTitle}">Title</td>
                <td th:text="${book.bookAuthor}">Author</td>
                <td th:text="${book.bookPrice}">Price</td>
            </tr>
        </table>
    </main>

    <footer th:replace="~{HeaderAndFooter::Footer}">
        some text
    </footer>
</body>
</html>