<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Checkout</title>
</head>
<body>
    <header th:replace="~{HeaderAndFooter::Header}">
        <h1>some text</h1>
    </header>

    <main>
        <h2>Checkout</h2>
        <table th:if="${cart !=null}">

            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>TITLE</th>
                    <th>AUTHOR</th>
                    <th>PRICE</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="book : ${cartItems}">
                    <td th:text="${book.bookISBN}">ISBN</td>
                    <td th:text="${book.bookTitle}">Title</td>
                    <td th:text="${book.bookAuthor}">Author</td>
                    <td th:text="${#numbers.formatDecimal(book.bookPrice, 1, 2)}"></td>
                </tr>

            <tr>
                <td colspan="4"><strong>Subtotal</strong></td>
            </tr>
            <tr>
                <td colspan="4" th:text="${subtotal}">10.10</td>
            </tr>

            <tr>
                <td colspan="4"><strong>Tax</strong></td>
            </tr>
            <tr>
                <td colspan="4" th:text="${salesTax}">10.10</td>
            </tr>

            <tr>
                <td colspan="4"><strong>Total</strong></td>
            </tr>
            <tr>
                <td colspan="4" th:text="${total}">10.10</td>
            </tr>

            </tbody>
        </table>
    </main>


    <footer th:replace="~{HeaderAndFooter::Footer}">
        some text
    </footer>
</body>
</html>