<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HeaderAndFooter</title>
</head>
<body>

<header th:fragment="Header">
  <h1>Tree Book Store</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/Books}">Books</a></li>
            <li><a th:href="@{/ShoppingCart}">Shopping Cart</a></li>
            <li><a th:href="@{/Checkout}">Checkout</a></li>
        </ul>
    </nav>
</header>

<main>content</main>

<footer th:fragment="Footer">
  Geoffrey Trenholm
  StudentID: 991712128
</footer>
</body>
</html>