<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}">
  <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
  <title>Title</title>
</head>

<body>

  <header th:replace="~{HeaderAndFooter::Header}">
    <h1>some text</h1>
  </header>

  <main>
    <h2>Shopping Page</h2>
    <table th:if="${books !=null}">

      <thead>
      <tr>
        <th>ISBN</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>PRICE</th>
        <th>ADD TO CART</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="book : ${books}">
        <td th:text="${book.bookISBN}">ISBN</td>
        <td th:text="${book.bookTitle}">Title</td>
        <td th:text="${book.bookAuthor}">Author</td>
        <td th:text="${book.bookPrice}">Price</td>
        <td>
          <a th:href="@{/addToCart/{isbn}(isbn=${book.bookISBN})}">Add to Cart</a>
        </td>
      </tr>
      </tbody>

    </table>

    <table>

      <thead>
        <tr>
          <th>Items in Cart</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td th:text="${cartSize}">0</td>
        </tr>
      </tbody>

    </table>
  </main>

  <footer th:replace="~{HeaderAndFooter::Footer}">
    some text
  </footer>

</body>

</html>